
/*Go to zero style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	 background-color: #ffe2b0;
}
/* Лого */
.logo {
	display: flex;
	justify-content: center;
	align-items: stretch;
}
/* Головне меню */
nav {
	display: flex;
	justify-content: center;
	align-items: stretch;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin: 20px 0 20px 0;
}
ul {
	text-align: center;
	display: inline;
}

li {
	padding-left: 0px;
	padding-right: 100px;
	display: inline;
}

li:last-child {
	padding-right: 0px;
}

/* Правило для посилань на сайті */
a {
	color: black;
}

a:hover {
	color: #f15b40;

}
/* Правило для основних section */
section {
	display: flex;
	justify-content: center;
	align-items: stretch;
}

/* Cлайд -фото булки */
.home_slide {
	height: 640px;
	width: 1440px;
	background-image: url(/img/01-Картинка-фона.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5%;
  }
  
  /* Блок спеціального замовлення */
.special_offer {
    display: block;
	width: 420px;
	height: 190px;
    text-align: center;
	background: rgb(244,213,178);
	background: linear-gradient(180deg, rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
	padding: 22px 28px 0px 28px;
	font-size: 34px;
	font-family: 'Philosopher';
	margin: 350px 0 0 730px;
  }
.smal_text_special_offer {
    margin: 9px;
    font-size: 12px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
.border_position {
	width: 378px;
	height: 158px;
	border: solid 2px #000;
	margin-top: -174px;
	margin-left: 751px;;
}
  
  /*Іконки на сайті*/
.icon_cakes {
	margin-top: 20px; 
	margin-bottom: 20px;
}

.icon_cakes_img {
	margin-right: 76px;
	height: 290px;
	width: 290px;
}

.icon_cakes_img:last-child {
	margin-right: 0px;

}

/* Текста про "Випечку" */

h1 {
    font-size: 96px;
    text-align: center;
    font-family: 'Philosopher';
	margin-bottom: 50px;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'Philosopher';
	margin-bottom: 50px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Philosopher';
	margin-bottom: 20px;
}

P {
	font-size: 18px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 50px;
}

.container_title {
	margin-bottom: 20px;
	margin-top: 26px;

}

.container_p {
	width: 1000px;
	margin-bottom: 20px;
}

.color_span {
	color: #f15b40;
}

/* Контеінер мапи*/
.container_map {
	margin-bottom: 20px;
}

/* Лінія розділювач */
hr {
	border-top: 1px solid #999;
	width: 900px;
	margin: 0 auto;
  }
  
/* Футор */
footer {
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.footer_menu {
	padding-bottom: 20px;
}

/* Форма замовлення */
label {
	color: #6d1405;
	font-size: 26px;
	font-style: normal;
	font-family: 'Philosopher', sans-serif;
	padding-left: 15px;
}

input {
	display: block;
	height: 50px;
	width: 750px;
	border-radius: 10px;
	border: solid 2px #f15b40;
	margin-bottom: 12px;
	}
	
	input:last-child {
		margin-bottom: 0;
	  }
	  input[type="submit"][value="Відправити"] {
	    margin-top: 10px;
		color: white;
		background-color: #f15b40;;
		font-size: 18px;
		font-family: 'Robot', sans-serif;
	  }
	  input[type="submit"][value="Відправити"]:hover {
	    margin-top: 10px;
		color: white;
		background-color: #ff8a75;;
		font-size: 18px;
		font-family: 'Robot', sans-serif;
	  }
	  

textarea {
	display: block;
	height: 300px;
	width: 750px;
	border-radius: 5px;
	border: solid 2px #f15b40;
}

textarea:hover {
	display: block;
	height: 300px;
	width: 750px;
	border-radius: 10px;
	border: solid 2px #ff8b55;
	}

.contact_form {
	text-align: left;
	padding-bottom: 40px;
}

/* Сторінка про нас */
/* -------------------------------------------------------- */

.about_img_wrapper {
	margin-bottom: 50px;

}

.about_img {
	border-radius: 20px;
}

/* Сторінка контактів */
/* -------------------------------------------------------- */
.contact_info {
	display: flex;
	justify-content: space-around;
	white-space: pre-line;


}
.contact_info {
	margin-right: 5%;
	font-weight: 700;

}
.contact_soc {
	text-align: center;
	font-weight: 700;
	font-style: italic;

}

.soc_icons {
	margin: 10px 10px 10px 10px;
}

/* Фрейм мапи */
iframe {
	border-radius: 20px;
}

/* Меню випечки, таблиця */
table {
	width: 60%;
	border-collapse: separate;
	border: 2px solid black;
}
th, td {
	padding: 8px;
	text-align: left;
	border: 1px solid black;
}
tr:hover {
	background-color: #ffae00;
}
@media screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr {
		display: block;
	}
	th {
		text-align: center;
	}
	td {
		text-align: center;
		border-bottom: none;
	}
	td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}
}

/* Сторінка новин */
.news {
	background-image: url(/img/news_back.jpg);
	height: 2500px;
}

.section-news__block {
	width: 420px;
	height: 190px;
	background: linear-gradient(180deg, rgb(244, 213, 178,0.8 )0, rgb(234, 156, 65,0.8)100%);
	border-radius: 10px;
	margin: 25px;
	
}
.section-news__border {
	width: 390px;
	height: 160px;
	border: #000 solid 1px;
	margin: 3.5% auto;
	
}
